<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动化测试平台</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
</head>
<body role="document">
    <!-- 导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="border-radius: 0">
        <div class="container justify-content-end"> 
            <ul class="navbar-nav">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active" id="apis"><a style="color: gray;font-size: 18px" href="/apitest/apis_manage/" target="mainFrame">单一接口</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active" id="apitest"><a style="color: gray;font-size: 18px" href="/apitest/apitest_manage/" target="mainFrame">流程接口</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active" id="appcase"><a style="color: gray;font-size: 18px" href="/apptest/appcase_manage/" target="mainFrame">app用例</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active" id="webcase"><a style="color: white;font-size: 18px" href="/webtest/webcase_manage/" target="mainFrame">web用例</a></li>
            </ul>
        </div>
        <div class="container justify-content-end">
            <ul class="navbar-nav" style="font-size:18px;">
                <li class="nav-item"><a class="nav-link active" href="#">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;{{user}}</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/logout/" target="_parent">退出</a></li>
            </ul>
        </div>
    </nav>
    <!--搜索-->
    <div class="page-header" style="padding: 40px 20px 0">
        <form action="/webtest/webstepsearch/" method="GET" "navbar-form">
            <input type="search" name="webteststep" placeholder="名称" required>
            <button type="submit">搜索</button>
        </form>
    </div>
    <!--流程接口步骤-->
    <div class="row" style="font-size: 14px">
        <div class="col-md-11">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr> 
                        <th>产品</th>
                        <th>所属用例</th>
                        <th>步聚</th>
                        <th>定位方式</th>
                        <th>控件元素</th>
                        <th>操作方法</th>
                        <th>测试数据</th>
                        <th>验证数据</th>
                        <th>测试结果</th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for webcasestep in webcasesteps %}
                    <tr>
                    {% if webcasestep.Webcase.id == webcase.id %}
                    <td>{{ webcasestep.Webcase.product.productname }}</td>
                    <td>case_{{ webcasestep.Webcase.id }}_{{ webcasestep.Webcase.webcasename }}</td>
                    <td>{{ webcasestep.webteststep }}:{{ webcasestep.webtestobjname }}</td>
                    <td>{{ webcasestep.webfindmethod }}</td>
                    <td>{{ webcasestep.webevelement }}</td>
                    <td>{{ webcasestep.weboptmethod }}</td>
                    <td>{{ webcasestep.webtestdata }}</td>
                    <td>{{ webcasestep.webassertdata }}</td>
                    <td>{% if webcasestep.webtestresult == 1 %}
                        <a style='color:green'>{{ webcasestep.webtestresult }}</a> 
                        {% else %}
                        <a style='color:red'>{{ webcasestep.webtestresult }}</a> 
                        {% endif %}
                    </td>
                    <td>{{ webcasestep.create_time }}</td> 
                    {% else %}
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 100px;margin: 0 auto;">
        <td>
            <a style='color:light blue'  href="../webcase_manage/" >
            <img src="/static/admin/img/icon-yes.svg" alt="返回"/>返回
            </a>
            </td>
            
            <td>
            <a style='color:light blue' class="related-widget-wrapper-link add-related" id="add_id_Webtest" href="/admin/webtest/webcase/{{ webcase.id  }}/change/?_to_field=id&_popup=1">
            <img src="/static/admin/img/icon-changelink.svg"/>编辑</a>
        </td>
    </div>
</body>
</html>